<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://api.themoviedb.org/3/movie/now_playing?api_key=e55425032d3d0f371fc776f302e7c09b</string>
	<string>http://api.themoviedb.org/3/movie/upcoming?api_key=e55425032d3d0f371fc776f302e7c09b</string>
	<string>http://api.themoviedb.org/3/movie/popular?api_key=e55425032d3d0f371fc776f302e7c09b</string>
	<string>http://api.themoviedb.org/3/movie/top_rated?api_key=e55425032d3d0f371fc776f302e7c09b</string>
</array>
</plist>
